modules = ["python-3.12", "web", "c-clang14"]
run = "launchserv"

[nix]
channel = "stable-24_05"
packages = ["nano", "run"]

[deployment]
run = ["sh", "-c", "launchserv"]

[[ports]]
localPort = 8080
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 8443
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8888
externalPort = 3000
exposeLocalhost = true
